
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: none;
}

:root {
  --color-primary: #2093ff;
  --color-secundary:#fff;
  --color-Terceary:#000;

}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}

.container-contact {
  position: relative;
}

.container-contact img {
  width: 100%;
  height: 350px;
}

.container-contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:var(--color-Terceary); 
  opacity: 0.7; 
}

.title-contact {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: var(--color-secundary);
}

.title-contact h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: var(--color-primary);
  font-family: 'Roboto-Bold'
}

.title-contact p {
  font-size: 24px;
  margin: 0;
}
