*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: none;
}
  
  :root {
    --color-primary: #2093ff;
    --color-secundary:#fff;
    --color-Terceary:#000;
  
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
.title-services{
    text-align: center;
    padding: 50px 0px 0px 0px;
   
}
.title-services h1{
    color:var(--color-Terceary);
    font-family: 'Roboto-Bold';
    font-size: 2rem;
    
}

.title-services span{
    color: var(--color-primary);
    font-family: 'Roboto-Bold';
    font-size: 2rem;
}

.container-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
  
.columna {
    width: 50%; 
    padding:0px 8px 0px 0px;
   
}
.columna h1 {
    color: var(--color-primary); 
    font-family: 'Raleway';
    font-size: 1.3rem;
    padding: 20px 0px;
    
}

  @media screen and (max-width: 767px) {
    .columna {
      width: 100%;
      
    }
  }
  